@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.login-box{
  width: 280px;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(255, 255, 255);
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #5c7f9d;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #5c7f9d;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #5c7f9d;
  border-radius: 20px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  outline: none;
}

.btn:hover{
  border: 2px solid #91acec;
  background: #91acec;
}

.alert.alert-danger {
  color: red;
  position: absolute;
  left: 40vw;
  top: 22vw;
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
