<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="gallery-grid">
    <div class="bar">
        <a class="list-icon" ng-class="{active: layout == 'list'}" (click)="layout = 'list'"></a>
        <a class="grid-icon" ng-class="{active: layout == 'grid'}" (click)="layout = 'grid'"></a>
    </div>
    <div class="album-header">
        <h1>Album {{albumTitle}}</h1>
        <button class="btn btn-primary" (click)="backClicked()">
            Back
        </button>
    </div>
    <div class="textbox" style="color:white">
        <input placeholder="Search" name="search" (keyup)="applyFilter($event)">
    </div>
    <div class="albums-grid">
        <ul *ngIf="layout == 'grid'" class="grid">
            <li *ngFor="let data of displayImages">
                <div class="li-element">
                    <div class="album-item-grid" (click)="imageSelected(data)">
                        <img src="{{data.url}}" height="300px" width="400px" />
                    </div>
                    <div class="album-name">
                        <div class="album-title" (click)="imageSelected(data)">
                            <p>{{data.title}}</p>                      
                        </div>
                        <div class="album-delete">
                            <i title="Delete" class="material-icons" style="color:white" (click)="openDialog(data, 'grid')">delete</i>
                        </div>
                    </div>
                </div>
            </li>
          
        </ul>
        <ul *ngIf="layout == 'list'" class="list">
            <li *ngFor="let data of displayImages">
                <div class="album-item-list" >
                    <img src="{{data.thumbnailUrl}}" height="75px" width="75px" (click)="imageSelected(data)" />
                    <span id="album-name" class="album-name" (click)="imageSelected(data)">{{data.title}} </span>
                    <i id="delete-icon" class="material-icons" style="color:white" (click)="openDialog(data, 'list')">delete</i>
                </div>
            </li>
        </ul>
    </div>
</div>
