<mat-dialog-content>
	<p>
		{{message}}
	</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-raised-button color="primary" class="btn" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
	<button mat-raised-button class="btn" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>