.btn{
  width: 100px;
  background: none;
  border: 2px solid #5776be;
  border-radius: 20px;
  color: #5776be;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  outline: none;
}

.btn:hover{
  border: 2px solid #91acec;
  background: #91acec;
}
