<style>
  .alert {
    color: red;
    position: absolute;
    left: 39vw;
    top: 34vh;
}
@media only screen and (max-width: 600px) {
  .alert {
    color: red;
    position: absolute;
    left: 20vw;
    top: 34vh;
}
}
</style>

<div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>