.logout {
  position: absolute;
  right: 15px;
  color: #080c15;
}

.logo{
  position: absolute;
  top: 10px;
}

.navbar{
  height: 0px;
  color: white;
}

.jumbotron {
  position: absolute;
  height: calc(100% -30px);
  width: 100%;
  top: 50px;
}

.logo {
  padding-left: 10px;
}

.alert.alert-danger {
  color: red;
  position: absolute;
  left: 40vw;
  top: 22vw;
}

.btn{
  width: 100px;
  background: none;
  border: 2px solid #080c15;
  border-radius: 20px;
  color: #080c15;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  outline: none;
}

.btn:hover{
  border: 2px solid #91acec;
  background: #91acec;
}


@media only screen and (max-width: 600px) {
  .btn{
    width: 100px;
    background: none;
      border: 2px solid #ffffff;
      border-radius: 20px;
      color: #ffffff;
      padding: 5px;
      font-size: 18px;
      cursor: pointer;
      margin: 12px 0;
  }
}  

