<!-- header -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav logo">
    <a class="nav-item nav-link" >DIB TRAVEL GALLERY</a>
  </div>
  <div class="logout navbar-nav">
      <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
      <button (click)="logout()" class="btn btn-primary">
        Logout
      </button>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron" id="main-div">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
