<div class="image-header">
  <button class="btn btn-primary" (click)="backClicked()">
      Back
  </button>
</div>

<div class="image-holder">
  <img src="{{image.url}}" />
</div>

<a class="prev" (click)="plusSlides(-1)">&#10094;</a>
<a class="next" (click)="plusSlides(1)">&#10095;</a>