.image-header {
  color: white;
  position: absolute;
  right: 15px;
}

.image-holder {
  position: absolute;
  left: 3vw;
  top: 55px;
}

.image-holder img {
  width: 94vw;
  height: 84vh;

}

.jumbotron {
  margin-top: 0;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(27, 80, 139, 0.8);
}

.btn{
  width: 100px;
  background: none;
  border: 2px solid #080c15;
  border-radius: 20px;
  color: #080c15;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  outline: none;
}

.btn:hover{
  border: 2px solid #91acec;
  background: #91acec;
}

@media only screen and (max-width: 600px) {
  .image-holder {
    position: absolute;
    left: 3vw;
    top: 7vh
  }

  ul.grid {
      padding:0;
  }
  ul.grid li
  {
      padding: 2px;
      float: left;
      padding-left: 5px;
  }

  .btn{
      width: 100px;
      background: none;
      border: 2px solid #ffffff;
      border-radius: 20px;
      color: #ffffff;
      padding: 5px;
      font-size: 18px;
      cursor: pointer;
      margin: 12px 0;
      left: 5px;
      top: 0px;
  }
}  
