/* You can add global styles to this file, and also import other style files */
body {
  background: url(./assets/2.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  background-image: linear-gradient(#000000, #20354a);
  color: white;
}
