<div class="gallery-grid">
    <div class="bar">
        <a class="list-icon" ng-class="{active: layout == 'list'}" (click)="layout = 'list'">
        </a><a class="grid-icon" ng-class="{active: layout == 'grid'}" (click)="layout = 'grid'">
        </a>
    </div>
    <div class="album-header">
        <h1>{{currentUser.name}} Albums</h1>
    </div>
    <div class="textbox" style="color:white">
        <input placeholder="Search" name="search" (keyup)="applyFilter($event)">
    </div>
    <div class="albums-grid">        
        <ul *ngIf="layout == 'grid'" class="grid">
            <li *ngFor="let data of this.displayAlbums">
                <div class="album-item" (click)="albumSelected(data)">
                    <img src="{{data.images[0].url}}" height="300px" width="400px" />
                    <div class="album-name">
                        <p>{{data.title}}</p>
                        <a>Created: {{data.created}}</a>
                    </div>
                </div>
            </li>            
        </ul>
        <ul *ngIf="layout == 'list'" class="list">
            <li *ngFor="let data of this.displayAlbums">
                <div class="album-item" (click)="albumSelected(data)">
                    <img src="{{data.images[0].thumbnailUrl}}" height="75px" width="75px" />
                    <p  class="album-name">{{data.title}}</p>
                    <a class="album-created">Created: {{data.created}}</a>
                </div>
            </li>
        </ul>
        <div *ngIf="this.displayAlbums.length == 0">
            <h2 style="color:red;">{{albumFound}}</h2>
        </div>
    </div>
</div>
